* {
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAF9FB;
    font-family: "Roboto",sans-serif;
}

button {
    position: absolute;
    top: 0;
}

.app__nav-bar,
.app__primary-section,
.app__secondary-section,
.app__forecast-section{
    width: 100%;
    text-align: left;
    margin: 6% auto;
}

.app__nav-bar,
.app__primary-section,
.app__secondary-section,
.app__forecast-section,
.forecast-section__intro,
.forecast-section__forecast{
    padding-left: 5%;
    padding-right: 4%;
}

.none-display {
    display: none;
}


/**************************app***************************/
.app {
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 6px;
    background-color: rgb(134,153,188);
}

/**********************app__nav-bar***********************/
.app__nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    font-size: 0.8em;
    letter-spacing: .8px;
    background-color: transparent;
    border: 2px dashed red;
    color: white;
}

.nav-bar__logo{
    line-height: 2;
}

.nav-bar__btns {
    width: 65%;
    display: flex;
    justify-content: space-between;/*
    border: 1px dashed yellow;*/
}

.nav-bar__search-btn {
    width: 80%;
    height: 100%;
    padding-left: 65%;
    display: flex; 
    position: relative;
    transition: all 5s ease;
    overflow: hidden;/*
    border: 1px dashed black;*/
}

.nav-bar__search-btn .mdl-textfield{
    margin-top: -20px;
}



.nav-bar__close-btn {
    position: absolute;
    right: 6px;
    cursor: pointer;
}

.nav-bar__close-btn img{
    width: 23px;
    
}

@keyframes slideLeft {
    from {
        padding-left: 65%;
    }
    to {
        padding-left: 0%;
    }
}

@keyframes slideBack {
    from {
        padding-left: 0%;
    }
    to {
        padding-left: 65%;
    }
}


.nav-bar__switch-btn {
    cursor: pointer;
}


.greenBackground {
    background-color: #4ec7d2;
}


/**********************app__primary-section****************/
.app__primary-section{
    margin-top: 23%;
    border: 2px dashed blue;
    padding-top: 0;
}

.app__primary-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px dashed red;
}

.app__city-and-country {
    width: 50%;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.app__city {
    font-size: 1.5em;
    color: white;
    margin-bottom: 1.4%;
}

.app__country {
    color: rgb(200,209,224);
}

.app__degree {
    width: 37%;
    line-height: 1;
    font-size: 4em;
    overflow: hidden;
    text-align: right;
    color: white;
}

.app__unit-switch {
    display: none;
}

/**********************app__secondary-section***************/
.app__secondary-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10%;;
    border: 2px dashed blue;
    color: white;
}

.app__wind-speed{
    margin-bottom: 3%;
}

/**********************app__forecast-section*****************/
.app__forecast-section{
    width: 100%;
    margin-top: 25%;
    padding: 0; ;
    border: 2px dashed black;
    color: white;
}

.forecast-section__intro{
    color: rgb(200,209,224);
}

.forecast-section__forecast{
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
    background-color: rgb(155,172,201);
    display: none;
}

.forecast-section__date-and-text {
    width: 60%;
    border: 1px dashed red;
}

.forecast-section__icon-and-deg {
    width: 36%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border: 1px dashed green;
}

.forecast-section__deg {
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: 300;
}


.forecast-section__forecast:nth-of-type(2),
.forecast-section__forecast:nth-of-type(3),
.forecast-section__forecast:nth-of-type(4),
.forecast-section__forecast:nth-of-type(5) {
    display: flex;
    border: 2px dashed green;
}

.forecast-section__date-and-text {
    display: flex;
    align-items: center;
}

.forecast-section__icon-and-deg {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 480px) {
    body {
        background-color: rgb(112,128,144);
    }
    
/**************************app***************************/
    .app {
        width: 95vw;
        height: 80vw;
        overflow:auto
    }
    
    .app,
    .app * {
        color: black;
    }
    
    .app {
        background-color: white;
    }
    
    .app__primary-section,
    .app__secondary-section,
    .forecast-section {
        position: absolute;
        margin: 0;
    }
    
    
    /**********************app__nav-bar***********************/
    .app__nav-bar {
        display: none;
    }
    
    
    /**********************app__primary-section****************/
    .app__primary-section {
        top: 2%;
        height: 35%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .app__weather-icon-and-unit-switch {
        width: 35%;
        position: relative;
        border: 1px dashed red;
    }
    
    .app__unit-switch {
        width: 100%;
        height: 30%; 
        border: 1px dashed red;
        display: flex;
    }
    
    .app__weather-icon-and-unit-switch img {
        width: 30%;
        position: absolute;
        bottom: 0;
        border: 1px dashed red;
    }
    
    .app__primary-info {
        flex-direction: column;
    }
    
    .app__city-and-country,
    .app__degree {
        width: 100%; ;
        border: 1px dashed red;
    }
    
    .app__degree{
        text-align: left;
    }
    
   
    
    
    
    /**********************app__secondary-section***************/
    .app__secondary-section {
        top: 38%;
        height: 16%;
    }
    
    .app__wind-speed,
    .app__humidity {
        margin: 0;
        border: 1px dashed red;
    }
    
    /**********************app__forecast-section*****************/
    .forecast-section {
        top: 55%;
    }
    
    .forecast-section__forecast:nth-of-type(2),
    .forecast-section__forecast:nth-of-type(3),
    .forecast-section__forecast:nth-of-type(4),
    .forecast-section__forecast:nth-of-type(5),
    .forecast-section__forecast:nth-of-type(6),
    .forecast-section__forecast:nth-of-type(7),
    .forecast-section__forecast:nth-of-type(8) {
        display: flex;
        flex-direction: column;
        width: 13.2%;
        float: left;
        margin-left: 1%;
        padding: 0;
        border: 2px dashed green;
    }
    
    .forecast-section__date-and-text,
    .forecast-section__icon-and-deg{
        width: 100%;
        text-align: center;
    }
    
    .forecast-section__icon-and-deg{
        display: flex;
        flex-direction: column;
    }
    
    .forecast-section__icon-and-deg img{
        width: 90%;
    }
    
    
    
    
    
    
}






